body{
   background: linear-gradient(to bottom right, rgba(36, 137, 253, 0.5), rgb(54, 52, 52)) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

.App{
   display: flex;
   justify-content: center;
   align-items: center;
}

button{
   border: none;
   border-radius: 5px;
   padding: 10px 24px;
   font-size: 12px;
   margin-right: 5px;
   margin-top: 10px;
}

.plus{
   background-color: rgba(120, 165, 115, 0.774);
   color: white;
}
.minus{
   background-color:rgb(175, 64, 64) ;
   color: white;
}
.reset{
   color: gray;
}
.counter{
   border-radius: 10px;
   border: 1px solid black;
   width: 30%;
   height: 30%;
   box-shadow: 1px 1px 5px black;
   text-align: center;
   margin-top: 20%;
   padding-bottom: 20px;
   background-color: white;
}